
.site-logo {
	width: 74px;
	height: 78px;
	fill: var(--color-brand);

	@media (--small) {
		fill: var(--color-black);
	}

	@media (--large) {
		width: 74px;
		height: 78px;
	}
}

.box--intro-main {
	width: var(--grid-4);
	margin-left: calc(- var(--grid-base));
	min-height: 100%;

	@media (--small) {
		width: var(--grid-4);
		margin-left: calc(- var(--grid-2));
	}
}

.box--intro-main__headline {
margin-top: 122px;


		@media (--large) {
		margin-top: 113px;
		}
		@media (--medium) {
		margin-top: 113px;
		}
		@media (--small) {
		margin-top: 159px;
		}
		@media (--xsmall) {
			margin-top: 122px;
		}
}

.binary--content {
		font-size: 0.7rem;


		@media (--small) {
		font-size: 0.5rem;
		}
}
