
.box--interact-insta__img {
	width: 50%;

	& a {
		display: block;
		line-height: 0;
	}

	@media (--medium) {
		width: 60%;
	}
}

.box--interact-insta__caption {
	position: absolute;
	top: 1.5em;
	left: 35%;
	padding: .8em;
	box-sizing: border-box;
	background: #fff;

	@media (--medium) {
		top: 60%;
	}

	@media (--small) {
			position: static;
			width: 50%;
			padding: 0 0 0 .8em;
			background: transparent;
	}

	& p {
		margin: 0;
		font-size: .75rem;
	}

	& a {
		text-decoration: none;
	}
}

.box--interact-headline h2 {
	margin-top: 0;
	margin-bottom: 1em;

	@media (--medium) {
		margin-bottom: 1em;
	}
}

.box--interact-links {
	margin-top: 5px;
}

.box--interact-links__item {
	display: block;

	& a {
		text-decoration: none;
	}

	& h3 {
		margin: 0;
		font-size: .75rem;

		& .source {
			color: var(--color-gray);
			transition: color 0.2s ease;
		}
	}

	& a:hover .source {
		color: var(--color-white);
		background-color: var(--color-black);
	}

	& p {
		margin: 0 0 2em;
		font-size: .75rem;
	}
}

input:focus {
	outline: none;
	border-color: yellow;
}

textarea:focus {
	outline: none;
	border-color: yellow;
}


.box--interact-bye {
	width: var(--grid-4);
}

.form--bye {
	float: left;
	width: 100%;
	display: none;
}

body.open .form--bye {
	display: block;
}

.form__input {
	width: 100%;
	border-style: none;
	background-color: var(--color-grey);
	margin-bottom: 15px;
	padding: 10px;
}

.form__label {
	font-size: 0.7rem;


	@media (--small) {
	font-size: 0.5rem;
	}
}

.btn--form {
	width: 100%;
	background: var(--color-black);
	color: var(--color-brand);
	padding: 10px 0;
	outline: none;
	border-style: none;
	transition: all ease 0.2s;

	&:hover,
	&:focus,
	&:active {
		border-style: none;
		cursor: pointer;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
		outline-offset: 0px;
		font-size: 1.1rem;

	}
}

/* PUSH TOGGLE */
#toggle {
    position: fixed;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;

}

/* MAIN PAGE */
.page-wrap {

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
}
body.open .page-wrap {
    margin-left: 300px;
}

/* BYE TOGGLE ICON */

button:focus {
    outline: none;
}
#bye-toggle {
    position: relative;

    cursor: pointer;

    border: none;
}

#bye-toggle:before,
#bye-toggle:after {
    position: absolute;

    content: "";
    content: "";
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

#bye-toggle:before {
    top: 12px;
    left: 25px;

    width: 1px;
    height: 27px;
}
#bye-toggle:after {
    top: 25px;
    left: 12px;

    width: 27px;
    height: 1px;
	}
