<section class="section--about fade">
	<div class="box--about-headline">
		<h2>Hello.</h2>
	</div>
	<div class="box--about-content">
		<p>
			I’m <strong>Jennie Kantorp Weglin</strong>, experienced digital UI, UX designer and junior front-end developer.
		</p>
		<p>
			I'm situated in Stockholm, Sweden and work with my co-founded community <a href="http://krig.io/" target="_blank">KRIG.</a> Feel free to <a href="mailto:jennie@krig.io">get in touch</a> about interesting projects or if you just fancy meeting up for a coffee.
		</p>
		<p class="finstilta">
			(Only interseted in freelance or consultant gigs.)
		</p>
	</div>
</section>
