<section class="section--about fade">
	<div class="box--about-headline">
		<h2>Hello.</h2>
	</div>
	<div class="box--about-content">
		<p>
			I’m <strong>Jennie Kantorp Weglin</strong>, experienced digital UI, UX designer and junior front-end developer.
		</p>
		<p>
			I work as a freelancer at <a href="http://krig.io/" target="_blank">KRIG community</a> that I am also co-founder of. I'm situated at <a href="http://knackeriet.se/" target="_blank">KNACKERIET</a> in Stockholm, Sweden. Feel free to <a href="mailto:hi@razitazi.com">get in touch</a> about interesting projects or if you just fancy meeting up for a coffee.
		</p>
		<p class="finstilta">
			(Only interseted in freelance or consultant gigs.)
		</p>
	</div>
</section>
