<section class="section--interact fade">
	<div class="box--interact-insta">
			 <div id="instafeed"></div>
	</div>
	<div class="box--interact-headline">
		<h2>Links to things I do.</h2>
	</div>
	<ul class="box--interact-links">
		<li class="box--interact-links__item">
			<a href="http://krig.io/" target="_blank">
				<h3><span class="source">Freelance community:</span> KRIG.io</h3>
				<p>Freelance community with tech nerds.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
		<li class="box--interact-links__item">
			<a href="https://jaweglin.github.io/portfolio/" target="_blank">
				<h3><span class="source">Portfolio:</span> page</h3>
				<p>Some of my work.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
		<li class="box--interact-links__item">
			<a href="https://www.youtube.com/watch?v=6YyelIUC4BY" target="_blank">
				<h3><span class="source">Video project:</span> Digital self</h3>
				<p>About my digital self.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
		<li class="box--interact-links__item">
			<a href="https://www.youtube.com/watch?v=FoX09nlUUnA" target="_blank">
				<h3><span class="source">Connect the dots:</span> Video</h3>
				<p>Or cool cat walk.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
		<li class="box--interact-links__item">
			<a href="https://bogren.github.io/stupidhack/" target="_blank">
				<h3><span class="source">Stupid project:</span> iTrump</h3>
				<p>Stupid Hackathon Sweden - a Trump robot.
					<svg class="external-link__icon">
						<use xlink:href="assets/icons/icons.svg#arrow-right"></use>
					</svg>
				</p>
			</a>
		</li>
	</ul>

	<div class="box--interact-bye" fade>
		<h2 id="bye-toggle" class="box--interact-bye__headline">Bye?</h2>
				<form class="form form--bye">
					<label class="form__label">Your email</label>
					<input class="form__input" id="input-email" type="text" name="input-email">
					<label class="form__label">Your message</label>
					<textarea class="form__input" id="input-message" rows=8 name="input-message"></textarea>
					<button class="btn btn--form" value="send">Send</button>
				</form>
	</div>

	<div
</section>
