<section class="section--more fade">
	<div class="box--more-content">
		<p>
			I'm a crazy cat lady.
		</p>
		<p>
		I am passionate about creating digital solutions and being part of the rapidly changing tech-world we live in today.
		<p>
			<strong>I love</strong> to fill thoose cracks.
		</p>
	</div>
	<div class="box--more-img">
		<div class="lazy-wrap lazy-wrap--landscape">
			<img data-src="assets/img/jennie.jpg" class="lazyload">
		</div>
	</div>
</section>
