<section class="section--more fade">
	<div class="box--more-content">
		<p>
		I am passionate about creating digital solutions that is somehow unexpected or give the user a reaction and not only feel at ease.
		<p>
			<strong>I love it</strong> when design happens by accident, for example I delete or trow something upside down and my initial reaction is "oh no, or.. hmm... that's not bad!"
		</p>
	</div>
	<div class="box--more-img">
		<div class="lazy-wrap lazy-wrap--landscape">
			<img data-src="assets/img/jennie.jpg" class="lazyload">
		</div>
	</div>
</section>
