<section class="section--more fade">
	<div class="box--more-content">
		<p>
		I am passionate about being creative when designing digital solutions. I enjoy the process of molding concepts from beginning to end and often find the best way is to just do and not overthink.
		<p>
			<strong>I love it</strong> when design happens by accident, for example if I delete or trow something upside down and reaction is "hmm... not that bad!"
		</p>
	</div>
	<div class="box--more-img">
		<div class="lazy-wrap lazy-wrap--landscape">
			<img data-src="assets/img/jennie.jpg" class="lazyload">
		</div>
	</div>
</section>
