{% macro navSocial(class) %}
	<div class="sticky--{{ class }}">
		<nav class="nav-social" role="navigation">
		  <a href="https://twitter.com/krig_io" target="_blank" class="nav-social__item" href="#">Twitter</a>
		  <a href="https://se.linkedin.com/in/jennieweglin" target="_blank" class="nav-social__item" href="#">LinkedIn</a>
		  <a href="https://dribbble.com/ja_weglin" target="_blank" class="nav-social__item" href="#">Dribbble</a>
		  <a class="nav-social__item nav-social__item--email" href="jennie@krig.io">jennie@krig.io</a>
		</nav>
	</div>
{% endmacro %}
