/** STICKY VERTICAL NAVIGATION **/

[class*='sticky--'] {
    position: fixed;
    top: 50%;
    z-index: 10000;

    @media (--small) {
        top: 50%;
    }
}

.sticky--left {
    right: auto;
    left: -115px;
    transform: rotate(-90deg) translateY(-50%);

    @media (--medium) {
        left: -125px;
    }
    @media (--small) {
        top: auto;
        bottom: 15px;
        left: calc(7% - 3px);;
        transform: none;
    }
}

.sticky--right {
    right: -115px;
    transform: rotate(90deg) translateY(-50%);

    @media (--medium) {
        right: -125px;
    }
    @media (--small) {
        display: none;
    }
}

.nav-social__item {
    display: inline-block;
    margin: 0 5px;
    font-family: var(--font-headline);
    font-weight: bold;
    font-size: .625rem;
    text-decoration: none;
    letter-spacing: .06rem;

    @media (--small) {
        letter-spacing: 0;
    }
}

.nav-social__item--email {
    &::before {
        display: inline-block;
        content: "";
        width: 25px;
        height: 2px;
        margin-right: 15px;
        vertical-align: middle;
        background-color: var(--color-brand);

        @media (--small) {
            display: none;
        }
    }
}
